*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.container-logo-diego{
    width: 100%;
    height: 50vh;
    background-color: transparent;
}

.container-logo-diego article h1,picture{
    display: inline-block;
}

.container-logo-diego article{
    width: 50%;
    height: 50vh;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container-logo-diego span{
    width: 90%;
    height: 200px;
    background-color: transparent;
}

.container-logo-diego article h1{
    font-size: 18rem;
}

.letter-one {
    color: rgba(255, 184, 6, 0.918);
    opacity: 0.8;
}

.letter-two {
    color: darkblue;
    opacity: 0.8;
}

.letter-three {
    color: rgb(228, 11, 11);
    opacity: 0.8;
}

.letter-four {
    color: rgb(40, 143, 40);
    opacity: 0.8;
}

.letter-five img{
    opacity: 0.8;
}


.container-logo-diego img{
    width: 15rem;
    height: 14rem;
}

.container-logo-pacto {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
}

.container-logo-pacto picture{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.container-logo-pacto picture img{
    width: 60%;
    height: 30vh;
}


